*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
*}

#mensajeInicial{
    background-image: url(../Multimedia/IMG/paginaCobro.jpg);
    background-size: cover ;  /* COMO LA IMAGEN ES PEQUEÑA, LA PONGO COVER*/
    background-position: center;    /*CENTRADA*/
    background-repeat: no-repeat;   /*SIN REPETIR*/
    width: 100%;
    height: 400px;
}

#seccionMonto{
    background-image: url(../Multimedia/IMG/monto.jpg);
    background-size: cover ;  /* COMO LA IMAGEN ES PEQUEÑA, LA PONGO COVER*/
    background-position: center;    /*CENTRADA*/
    background-repeat: no-repeat;   /*SIN REPETIR*/
    width: 100%;
    height: 350px;
}

#seccionIngresarCuotas{
    background-image: url(../Multimedia/IMG/pagoTarjeta.jpg);
    background-size: cover ;  /* COMO LA IMAGEN ES PEQUEÑA, LA PONGO COVER*/
    background-position: center;    /*CENTRADA*/
    background-repeat: no-repeat;   /*SIN REPETIR*/
    width: 100%;
    height: auto;
}

#seccionIngresarMedioPagoEfeDebMp{
    background-image: url(../Multimedia/IMG/descuentosIntereses.jpg);
    background-size: cover ;  /* COMO LA IMAGEN ES PEQUEÑA, LA PONGO COVER*/
    background-position: center;    /*CENTRADA*/
    background-repeat: no-repeat;   /*SIN REPETIR*/
    width: 100%;
    height: auto;
}

#seccionMedioPago{
    background-image: url(../Multimedia/IMG/seccionPago.png);
    background-size: contain ;  
    background-position: left bottom;    /*LA UBICO ABAJO A LA IZQUIERDA*/
    background-repeat: no-repeat;   /*SIN REPETIR*/
    width: 100%;  /*DEFINO ANCHO Y ALTO*/
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
}

/*LE DOY ESTILO A LAS SECCIONES*/
#seccionModificarCuotas,#seccionModificarMedioPagoEfeDebMp{
    height: 200px;
    width: 350px;
    padding:10px;
    margin: 10px;
}

/*LE DEOY ESTILO AL CONTENEDOR DE LAS MODIFICACIONES DE CUOTAS*/
#contenedorModificadores{
    height: 180px;
    width: 350px;
}

/*LE DOY ESTILO A LA TARJETA DE MONTO*/
#cardMonto{
    width: 300px;
    height: auto;
    margin: 30px;
}

/*LE DOY ESTILO A LAS TARJETAS DE INGRESAR CUOTAS Y LA DE DESCUENTOS*/
#cardIngresarCuotas,#cardDescuentoIntereses{
    width: 300px;
    height: auto;
    margin: 30px;
}

/*LE DOY ESTILO AL TEXTO QUE APARECE EN EL MONTO INGRESADO*/
#mensajeMonto{
    color: violet;
    font-size: 12px;
    font-weight: bold;
}

/*LE DOY ESTILO AL MENSAJE QUE APARECE CUANDO SE SELECCIONA EL MODO DE PAGO*/
#mensajeEfectivo,#mensajeDebito,#mensajeMp,#mensajeCuotas{
    color: white;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

#cardMedioPago{
    height: auto;
    width: 230px;
    margin: 10px
}

#seccionPagarTarjeta{
    width: 100%;
}

/*FIJO UN ANCHO Y ALTO PARA LAS IMAGENES DE LOS PERSONAJES DE HP*/
#mensajeGracias img{
    width: 200px;
    height: auto;
}

#mensajeGracias p{
    font-family: calibri;
    font-size: 15px;
    font-style: italic;
}

#mensajeInicial p{
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#mensajeInicial ul li{
    font-style: italic;
    font-size: 18px;
}

#mensajeInicial h5{
    margin-left: 12px;
}

